// Activity Log

.activity-log-wrapper {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 31px;
		width: 2px;
		height: 100vh;
		background-color: lighten( $gray, 30% );
		z-index: 1;
	}
}