.dashboard__setup-wrapper {
	@include breakpoint( ">960px" ) {
		padding: 32px;
	}
}

.dashboard__setup-header {
	text-align: center;
	padding-top: 16px;

	img {
		max-width: 160px;
		margin-bottom: 12px;
	}

	.dashboard__setup-header-title {
		margin: 0 auto 12px;
		max-width: 450px;
	}

	.dashboard__setup-header-subtitle {
		color: $gray;
		margin: 0 auto 32px;
		max-width: 450px;
	}
}

.dashboard__setup-task {
	align-items: center;
	display: flex;
	padding: 24px 0;
	border-top: 1px solid lighten( $gray, 30% );

	.dashboard__setup-task-status {
		background:  lighten( $gray, 30% );
		height: 24px;
		text-align: center;
		width: 24px;
		flex-shrink: 0;
		border-radius: 100%;

		@include breakpoint( ">960px" ) {
			height: 48px;
			width: 48px;
		}

		.gridicon {
			height: 18px;
			width: 18px;
			padding: 3px;

			@include breakpoint( ">960px" ) {
				padding: 6px;
				height: 36px;
				width: 36px;
			}
		}
	}

	.dashboard__setup-task-label {
		flex-grow: 1;
		margin-left: 24px;

		@include breakpoint( ">660px" ) {
			margin-left: 32px;
		}

		h2 {
			color: $gray-text;
			font-size: 20px;
		}

		p {
			color: $gray;
			font-size: 14px;
			margin-bottom: 0;
		}
	}

	.dashboard__setup-task-actions {
		display: flex;
		flex-direction: column;
		margin-left: 24px;

		.dashboard__setup-task-primary-actions {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			width: 130px;

			@include breakpoint( ">660px" ) {
				flex-wrap: nowrap;
				width: 200px;
			}

			.button {
				white-space: nowrap;
				margin: 2px 0 2px 8px;
			}
		}

		.dashboard__setup-task-secondary-actions {
			display: flex;
			justify-content: flex-end;
			text-align: right;

			a {
				cursor: pointer;
				font-size: 12px;
				margin-left: 8px;
			}
		}
	}
}

.dashboard__setup-footer {
	align-items: center;
	border-top: none;
	display: flex;
	justify-content: center;
	border-top: 1px solid lighten( $gray, 30% );
	padding-top: 24px;
}
