.dashboard__setup-header {
	background-color: $white;
	border: 1px solid $gray;
	padding: 48px;
	text-align: center;

	img {
		margin-bottom: 26px;
	}

	h2 {
		color: $gray-text;
		font-size: 28px;
	}

	h3 {
		color: $gray;
		font-size: 18px;
	}
}

.dashboard__setup-task {
	align-items: center;
	background-color: $white;
	border: 1px solid $gray;
	border-top: none;
	display: flex;
	padding: 24px;

	.dashboard__setup-task-status {
		border: 1px solid $gray;
		height: 48px;
		text-align: center;
		width: 48px;
		min-width: 48px;

		.gridicon {
			margin-top: 6px;
		}
	}

	.dashboard__setup-task-label {
		flex-grow: 1;
		margin-left: 32px;

		h2 {
			color: $gray-text;
			font-size: 20px;
		}

		p {
			color: $gray;
			font-size: 14px;
			margin-bottom: 0;
		}
	}

	.dashboard__setup-task-actions {
		display: flex;
		flex-direction: column;
		margin-left: 24px;

		.dashboard__setup-task-primary-actions {
			display: flex;
			justify-content: flex-end;

			.button {
				margin-left: 8px;
				white-space: nowrap;
			}
		}

		.dashboard__setup-task-secondary-actions {
			display: flex;
			justify-content: flex-end;

			a {
				cursor: pointer;
				font-size: 14px;
				margin-left: 8px;
				white-space: nowrap;
			}
		}
	}
}

.dashboard__setup-footer {
	align-items: center;
	background-color: $white;
	border: 1px solid $gray;
	border-top: none;
	display: flex;
	justify-content: center;
	padding: 48px;
}
