/*rtl:ignore*/
.signup-form__input {
	direction: ltr;
}

.signup-form .logged-out-form__footer {
	margin-top: 10px;
}

.signup-form__terms-of-service-link {
	font-size: 11px;
	margin: 0 0 20px 0;
	text-align: center;

	a {
		@include breakpoint( ">480px" ) {
			white-space: pre;
		}
	}
}

.passwordless-form {
	margin: 0 auto;
	width: 380px;
}

.social-submit {
	margin: 10px 0;
	width: 100%
}

.facebook-login-wrapper {
	text-align: center;
}

.facebook-login {
	background-color: #4c69ba;
	background-image: url( https://www.facebook.com/rsrc.php/v3/yk/r/mDRwtnJueyz.png );
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: 16px 16px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	margin-top: 1em;
	padding: 10px 10px 10px 25px;
	width: 100%;
}

.continue-with {
	color: grey;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.continue-with:before, .continue-with:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 43%;
    height: 1px;
    content: '\a0';
    background-color: lightgrey;
    margin-left: 2%;
}
.continue-with:before {
    margin-left: -45%;
    text-align: right;
}