.background {
	background-image: url( '/calypso/images/domain-search-background.jpg' );
	background-size: cover;
	margin: -24px;
	padding: 24px;
}

.title {
	color: #2E4453;
	font-size: 36px;
	font-weight: 300;
}

.tagline {
	color: #6A7B85;
	font-size: 18px;
}

.searchInput {
	background: rgba(135,166,188, .5);
	padding: 10px;
}
