.background {
	max-width: 960px;
	margin: 0 auto;
	min-height: calc( 100vh - 95px ); // 95px = top+bottom padding on desktop
	padding-top: calc( 50vh/2 );
	transition: padding 0.3s;

	&::before {
		background-image: url( '/calypso/images/domain-search-background.jpg' );
		background-size: cover;
		content: '';
		margin: -24px;
		opacity: 1;
		padding: 24px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		transition: opacity 0.3s;
		z-index: -1;
	}
}

.title {
	color: #2E4453;
	font-size: 36px;
	font-weight: 300;
	transform-origin: left bottom;
	transition: transform 0.2s;
}

.tagline {
	color: #6A7B85;
	font-size: 18px;
	margin-bottom: 1rem;
	transform-origin: left top;
	transition: transform 0.2s;
}

.searchInput {
	background: rgba(135,166,188, .2);
	padding: 10px;

	input[type="search"] {
		padding: 12px 20px;
	}
}

.with-query {
	padding-top: 0;

	&::before {
		opacity: 0.1;
	}

	.title {
		transform: scale( 0.8 );
	}

	.tagline {
		transform: scale( 0.9 );
	}
}

.ideas {
	color: #3D596D;
	font-size: 14px;
	padding-top: 1rem;
}

.suggestion {
	background: #fff;
	border: 1px solid rgba(135,166,188, .5);
	border-radius: 5px;
	color: #3D596D;
	padding: 3px 5px;
}

.result {
	clear: both;
	color: #87A6BC;
	display: flex;
	font-size: 17px;
	justify-content: space-between;
	padding-bottom: 24px !important;
	padding-top: 24px !important;
	transition: box-shadow 0.15s;

	&:hover {
		box-shadow: 0 0 0 1px #87a6bc;
		z-index: 1;
	}
}

.resultDomain {
	align-items: center;
	display: flex;
	flex-basis: 100%;
}

.resultPriceAction {
	align-items: center;
	color: #4f748e;
	display: flex;
	font-size: 14px;

	.resultPriceTerm {
		color: #87a6bc;
	}

	.resultAction {
		color: #00aadc;
		margin-left: 20px;
		white-space: nowrap;
	}
}

.see-more {
	background: #e9eff3;
	box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
	color: #2E4453;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}

%tag {
	border-radius: 3px;
	display: inline-block;
	font-size: 12px;
	line-height: 2;
	margin-left: 10px;
	padding: 0 5px;
}

.recommended {
	@extend %tag;

	background: #4ab866;
	color: #fff;
}

.best-alternative {
	@extend %tag;

	background: #E9EFF3;
	color: #3D596D;
}
