.activity-log-item {
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-left: 8px;
    margin-bottom: 24px;

    .card {
    	background: $white;
    }

    &:first-of-type {
    	margin-top: 24px;
    }
}

.activity-log-item__type {
	flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    text-align:center;
    margin-top: -18px;
    margin-right: 24px;
}

.activity-log-item__card.card {
	display:flex;
	width: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    align-items: center;
}
.activity-log-item__time {
	width: 106%;
	margin-left: -3%;
	padding-top: 2px;
	font-size: 11px;
	color: $gray;
	text-align:center;
	text-transform: uppercase;
	background: $gray-light;
}

.activity-log-item__icons {
	border-top: 4px solid $gray-light;
	border-bottom: 4px solid $gray-light;
	background: $gray-light;
}

.activity-log-item__icon {
	// General notice
	 background: $gray;
	 color: $white;
	 display: flex;
	 border-radius: 50%;
	 height:32px;
	 width: 32px;
	 padding: 8px;

	// Success
	&.is-success {
		background: $alert-green;
	}

	// Warning
	&.is-warning {
		background: $alert-yellow;
	}

	// Error! OHNO!
	&.is-error {
		background: $alert-red;
	}
}
.activity-log-item__icon .gridicon {
	margin: auto;
}

.activity-log-item__actor {
	display: flex;
	flex-basis: 25%;
	align-items: center;
}

.activity-log-item__actor .gravatar {
	float: left;
	margin-right: 16px;
}

.activity-log-item__actor-name {
}

.activity-item__actor-role {
	text-transform: uppercase;
	font-size: 12px;
	color: $gray;
}

.activity-log-item__content {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 200px;
}

.activity-log-item__content-title {
	font-size: 14px;
}
.activity-log-item__content-sub-title {
	font-size: 12px;
	text-transform: uppercase;
	color: $gray;
}

.activity-log-item__action {
	flex-basis: 25%;
	text-align:right;
}
